<div class="container">
    <div class="row">
        <div class="col-12 animated" in-view="potraitHeader = $inview"
            ng-class="{ 'fadeIn zoomIn': potraitHeader}">
                <h3 class="font-light text-center">potrait of me</h3>
                <div class="headline-spacer"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 animated" in-view="potraitAbout = $inview"
             ng-class="{ 'fadeIn zoomIn': potraitAbout}">
            <div class="text-center ma-t5p">about</div>
            <p class="text-center text-gray-light">
                I was born on {{my.birthdate}} in {{my.bornin}} | {{my.country}}.
                I'am the 3rd of 3 sibling.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 animated" in-view="potraitInterest = $inview"
             ng-class="{ 'fadeIn zoomIn': potraitInterest}">
            <div class="text-center ma-t5p">interested in</div>
            <p class="text-center text-gray-light">
                I have many interests and pursue many activities.
            <div class="row justify-content-center text-gray-light">
                <div class="col-md-6 text-center">
                <span class="hobby" ng-repeat="hobby in my.interests">
                    {{hobby}}
                </span>
                </div>
            </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 animated" in-view="potraitFuture = $inview"
             ng-class="{ 'fadeIn zoomIn': potraitFuture}">
            <div class="text-center ma-t5p">where do i see myself in 10 years</div>
            <p class="text-center text-gray-light">I have a really clear imagionation where i wann be in future. I'am
                looking forward to live in Switzerland or USA.
                I will have developed and designed an application that millions of users use in their daily lives.
                Who knows what the future will bring, but i will help shape it and achieve my personal goals.
            </p>
        </div>
    </div>
</div>
</div>