<div class="container">
    <div class="row">
        <div in-view="timelineHeader = $inview" ng-class="{ 'fadeInDown zoomIn': timelineHeader }" class="col-lg-12 animated">
            <h3 class="font-light text-center">timeline</h3>
            <div class="headline-spacer"></div>
            <p>
                What does a timeline mean? In my case this means a large range in which I have learned a lot, have developed my character and my personality. Due to the sometimes very different departments I was able to set up very broadly.
            </p>
        </div>

        <div in-view="timelineContent = $inview" ng-class="{ 'fadeIn': timelineContent }" class="ma-t5p timeline animated">
            <div in-view="timelineEvent{{$index}} = $inview" ng-class="{ 'fadeInDown zoomIn': timelineEvent{{$index}}, 'offset-md-6': $odd }" class="col-md-6 animated" ng-repeat="event in timeline.jobs | orderBy : 'start'">
                <div class="date"><sgpan ng-if="!event.end">since </sgpan>{{event.start}}<span ng-if="event.end && event.end != '-'"> - </span><span ng-if="event.end && event.end != '-'">{{event.end}}</span></div>
                <div class="company"><b>{{event.company}}</b> {{event.job}}</div>
                <div class="description">{{event.description}}</div>
            </div>
        </div>
    </div>
</div>